body {
  color: black;
}

.banner-block {
  background-color: #a9ffa9;
  padding: 20px;
}

.quote-text {
  padding: 10px;
  height: 150px;
  color: black;
}

.quote-gen-div {
  padding: 10px 0 20px 0; 
}

.btn-new-quote {
  padding: 10px 100px;
  font-size: 20px;
  border-radius: 0;
  background-color: #d99aff;
}

.btn-new-quote:active {
  background-color: #e2b3ff;
}

.btn-new-quote:active, .btn-new-quote:focus {
  outline: none !important;
}

.credits-section {
  padding: 100px 0 0 0;
}

.fa-twitter {
  color: black;
}

.fa-twitter:hover, .fa-twitter:focus, .fa-twitter:active {
  color: #0478fd;
  text-decoration: none;
}

#author {
  font-style: italic;
}